<?xml version="1.0"?>
<configuration>
  <process>
    <process name="easdsa" threads="48" />
  </process>
  <time key="Waiting time(sec)" value="600" />
  <theme>
    <BaseColor key="Base Color" value="Custom" />
    <ColorScheme key="Color Scheme" value="Olive" />
  </theme>
</configuration>